<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <ul class="navbar-nav">
<nav class="nav nav-pills" id="pills-tab" role="tablist">
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="cuentaCTE" href="current_accounts" role="tab" aria-controls="cuentaCTE" aria-selected="true">Movimientos</a>
  <a> - </a>
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="cuentaUser" href="user_accounts" role="tab" aria-controls="cuentaUser" aria-selected="true">Cuenta Corriente</a>
  <a> - </a>
   <a> <%= render 'shared/user_menu' %> </a> 

</nav>
  </ul>
</div>
